@using tl2_tp10_2023_MarceAbr.Models

@model Tablero

<h1>@ViewData["Crear Tablero"]</h1>
<form asp-controller="Tablero" asp-action="AltaTablero" method="post">
    <div class="form-group">
        <label asp-for="@Model.Id"></label>
        <input asp-for="@Model.Id" class="form-control" id="id" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdUsuario"></label>
        <input asp-for="@Model.IdUsuario" class="form-control" id="idUsuario" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" id="descripcion" />
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
    <button><a asp-controller="Tablero" asp-action="ListarTableros">Cancelar</a></button>
</form>