@using tl2_tp10_2023_MarceAbr.Models

@model Tablero

<form asp-controller="Tablero" asp-action="EliminarTab">
    <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" value="@Model.Id">
    <label asp-for="@Model.IdUsuario">Id Usuario</label>
        <input asp-for="@Model.IdUsuario" value="@Model.IdUsuario">
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" value="@Model.Descripcion">
    <button type="submit">Eliminar</button>
    <button><a asp-controller="Tablero" asp-action="ListarTableros">Cancelar</a></button>
</form>