@using tl2_tp10_2023_MarceAbr.ViewModels

@model ListarTablerosViewModel

<table>
    <thead>
        <tr>
            <th>Id </th>
            <th>Id Propietario </th>
            <th>Nombre </th>
            <th>Descripcion </th>
        </tr>
    </thead>

    <tbody>
        @foreach(TableroViewModel tab in @Model.TablerosVM)
        {
        <tr>
            <td>@tab.Id</td>
            <td>@tab.IdUsuario</td>
            <td>@tab.Nombre</td>
            <td>@tab.Descripcion</td>
            <td>@if (ViewBag.Rol == "Administrador"){<a asp-controller="Tablero" class="form-control" asp-action="ModificarTablero" asp-route-idTablero="@tab.Id">Modificar</a>}</td>
            <td>@if (ViewBag.Rol == "Administrador"){<a asp-controller="Tablero" class="form-control" asp-action="EliminarTablero" asp-route-idTablero="@tab.Id">Eliminar</a>}</td>
        </tr>
        }
        <tr>
            <td>@if (ViewBag.Rol == "Administrador"){<a asp-controller="Tablero" class="form-control" asp-action="CrearTablero">Crear Tablero</a>}</td>
        </tr>
    </tbody>
</table>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}