@using tl2_tp10_2023_MarceAbr.ViewModels

@model ModificarTableroViewModel

<form asp-controller="Tablero" asp-action="EditarTablero">
    <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" class="form-control" value="@Model.Id">
    <label asp-for="@Model.IdUsuario">Id usuario propietario</label>
        <input asp-for="@Model.IdUsuario" class="form-control" value="@Model.IdUsuario">
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control" value="@Model.Descripcion">
    <button type="submit" class="form-control">Modificar Tablero</button>
    <button><a asp-controller="Tablero" class="form-control" asp-action="ListarTableros">Cancelar</a></button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}