@using tl2_tp10_2023_MarceAbr.Models

@model Tarea

<form asp-controller="Tarea" asp-action="EliminarTar">
    <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" class="form-control" value="@Model.Id">
    <label asp-for="@Model.IdTablero">Id Tablero</label>
        <input asp-for="@Model.IdTablero" class="form-control" value="@Model.IdTablero">
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control" value="@Model.Descripcion">
    <button type="submit" class="form-control">Eliminar</button>
    <button><a asp-controller="Tarea" class="form-control" asp-action="ListarTareas">Cancelar</a></button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}