@using tl2_tp10_2023_MarceAbr.Models

@model Tarea

<form asp-controller="Tarea" asp-action="EliminarTar">
    <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" value="@Model.Id">
    <label asp-for="@Model.IdTablero">Id Tablero</label>
        <input asp-for="@Model.IdTablero" value="@Model.IdTablero">
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" value="@Model.Descripcion">
    <button type="submit">Eliminar</button>
    <button><a asp-controller="Tarea" asp-action="ListarTareas">Cancelar</a></button>
</form>