@using tl2_tp10_2023_MarceAbr.ViewModels

@model ListarTareasViewModel

<table>
    <thead>
        <tr>
            <th>Id </th>
            <th>Id Tablero </th>
            <th>Nombre </th>
            <th>Descripcion </th>
            <th>Color </th>
            <th>Estado </th>
            <th>Usuario Asiganado </th>
        </tr>
    </thead>

    <tbody>
        @foreach(TareaViewModel tarea in @Model.TareasVM)
        {
        <tr>
            <td>@tarea.Id</td>
            <td>@tarea.IdTablero</td>
            <td>@tarea.Nombre</td>
            <td>@tarea.Descripcion</td>
            <td>@tarea.Color</td>
            <td>@tarea.EstadoTarea</td>
            <td>@tarea.IdUsuarioAsignado</td>
            <td><a asp-controller="Tarea" class="form-control" asp-action="ModificarTarea" asp-route-idTarea="@tarea.Id">Modificar</a></td>
            <td><a asp-controller="Tarea" class="form-control" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id">Eliminar</a></td>
        </tr>
        }
        <tr>
            <td><a asp-controller="Tarea" class="form-control" asp-action="CrearTarea">Crear Tarea</a></td>
        </tr>
    </tbody>
</table>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}