@using tl2_tp10_2023_MarceAbr.ViewModels

@model ModificarTareaViewModel

<form asp-controller="Tarea" asp-action="EditarTarea">
    <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" class="form-control" value="@Model.Id">
    <label asp-for="@Model.IdTablero">Id Tablero</label>
        <input asp-for="@Model.IdTablero" class="form-control" value="@Model.IdTablero">
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control" value="@Model.Descripcion">
    <label asp-for="@Model.Color">Color</label>
        <input asp-for="@Model.Color" class="form-control" value="@Model.Color">
    <label asp-for="@Model.EstadoTarea">Estado Tarea</label>
        <input asp-for="@Model.EstadoTarea" class="form-control" value="@Model.EstadoTarea">
    <label asp-for="@Model.IdUsuarioAsignado">Usuario asignado</label>
        <input asp-for="@Model.IdUsuarioAsignado" class="form-control" value="@Model.IdUsuarioAsignado">
    <button type="submit" class="form-control">Modificar Tarea</button>
    <button><a asp-controller="Tarea" class="form-control" asp-action="ListarTareas">Cancelar</a></button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}