@using tl2_tp10_2023_MarceAbr.ViewModels

@model CrearUsuarioViewModel

<h1>@ViewData["Crear Usuario"]</h1>
<form asp-controller="Usuario" asp-action="AltaUsuario" method="post">
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario"></label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Rol"></label>
        <input asp-for="@Model.Rol" class="form-control" id="rol" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasena"></label>
        <input asp-for="@Model.Contrasena" class="form-control" id="rol" />
    </div>
    <button type="submit" class="form-control" class="btn btn-primary" >Enviar</button>
    <button><a asp-controller="Usuario" class="form-control" asp-action="ListarUsuarios">Cancelar</a></button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}