@using tl2_tp10_2023_MarceAbr.Models

@model Usuario

<form asp-controller="Usuario" asp-action="EliminarUsu">
    <label asp-for="@Model.Id">Id</label>
        <input asp-for="@Model.Id" value="@Model.Id">
    <label asp-for="@Model.NombreDeUsuario">Id</label>
        <input asp-for="@Model.NombreDeUsuario" value="@Model.NombreDeUsuario">
    <button type="submit">Eliminar</button>
    <button><a asp-controller="Usuario" asp-action="ListarUsuarios">Cancelar</a></button>
</form>