@using tl2_tp10_2023_MarceAbr.Models

@model List<Usuario>

<table>
    <thead>
        <tr>
            <th>Id </th>
            <th>Nombre</th>
            <th>Rol</th>
        </tr>
    </thead>

    <tbody>
        @foreach(Usuario usu in @Model)
        {
        <tr>
            <td>@usu.Id</td>
            <td>@usu.NombreDeUsuario</td>
            <td>@usu.Rol</td>
            <td>
                @if (ViewBag.Rol == "Administrador") {<a asp-controller="Usuario" class="form-control" asp-action="ModificarUsuario" asp-route-idUsuario="@usu.Id">Modificar</a>}
            </td>
            <td>
                @if (ViewBag.Rol == "Administrador") {<a asp-controller="Usuario" class="form-control" asp-action="EliminarUsuario" asp-route-idUsuario="@usu.Id">Eliminar</a>}
            </td>
        </tr>
        }
        <tr>
            <td>@if (ViewBag.Rol == "Administrador"){<a asp-controller="Usuario" class="form-control" asp-action="CrearUsuario">Crear Usuario</a>}</td>
        </tr>
    </tbody>
</table>